<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-4">
      <h1 class="entry-title text-center"><span>Dodaj nowe zadanie</span></h1>
      <hr/>
      <form>
        <div class="form-group">
          <label class="mb-2" for="titleInput">Nazwa zadania:</label>
          <input
            [(ngModel)]="data.title"
            name="title"
            type="text"
            class="form-control"
            id="titleInput"
            placeholder="Wpisz nazwę zadania"
            title="Title"
          />
        </div>
        <div class="form-group mt-4">
          <label class="mb-2" for="textInput">Opis zadania:</label>
          <input
            [(ngModel)]="data.text"
            name="text"
            type="text"
            class="form-control"
            id="textInput"
            placeholder="Wpisz opis zadania"
            title="Text"
          />
        </div>
        <div class="form-group mt-4">
          <label class="mb-2 mr-4" for="dateInput">Wybierz deadline</label>
          <input
            [(ngModel)]="data.date"
            type="date"
            id="dateInput"
            name="trip-start"
            value="2023-06-16"
            min="2023-06-16"
            max="2077-12-31"
          />
        </div>
        <button type="submit" (click)="sendPost()" class="btn btn-primary mt-4">
          Dodaj zadanie
        </button>

      </form>
    </div>
  </div>
</div>
