<div class="d-flex flex-row justify-content-end">
  <a
    href="#"
    class="btn btn-dark p-2 m-2 col-2"
    [routerLink]="['/blog/detail/' + id]"
  >
    <img class="img-fluid" src="assets/details.png">
  </a>
  <a
    href="#"
    class="btn btn-secondary p-2 m-2 col-2"
    [routerLink]="['/blog/edit/' + id]"
  >
    <img class="img-fluid" src="assets/openList.png">
  </a>
  <a
    href="#"
    class="btn btn-success p-2 m-2 col-2"
    (click)="deletePost(); $event.preventDefault()"
  >
    <img class="img-fluid" src="assets/checked.png">
  </a>
</div>
